<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Some content is here</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum 
    porro rem reprehenderit temporibus? Non accusantium fuga 
    asperiores quas. Voluptate ad voluptatem adipisci quaerat?
     Dolores delectus ipsam voluptatem qui esse velit.
     <a href ="/">Homepage</a>
     <a href ="/about">About</a>
</body>
</html>