<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<%- include("../partials/nav.ejs") %>
    <div class="about content">
        <center> <h2>About us</h2>
    <p>
        Hey there! I Hope you are doing good. My name is Deepika Singh. This is my first web development project. I have used HTML, CSS and JavaScript for the frontend development, Node.js for writing server side code using JavaScript and have used MongoDB for the database. 
    </p></center>
   </div> 

    

</html>